%h1 log in

= form_for resource, as:  resource_name,
                     url: session_path(resource_name) do |f|
  = f.fields_for :accounts do |account_form|
    .field
      = account_form.label :account
      = account_form.text_field :name, autofocus: true     
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :password
    %br
    = f.password_field :password
  .actions
    = f.submit 'log in'
