<h1>Customer Warranty Dataloads</h1>

<table>
  <tr>
    <th>File name</th>
    <th>Request user</th>
    <th>Success ind</th>
    <th>S3</th>
    <th>Table name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dataload_manuals.each do |dataload_manual| %>
  <tr>
    <td><%= dataload_manual.file_name %></td>
    <td><%= dataload_manual.request_user %></td>
    <td><%= dataload_manual.success_ind %></td>
    <td><%= dataload_manual.s3_id %></td>
    <td><%= dataload_manual.table_name %></td>
    <td><%= link_to 'Show', dataload_manual %></td>
    <td><%= link_to 'Edit', edit_dataload_manual_path(dataload_manual) %></td>
    <td><%= link_to 'Destroy', dataload_manual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer Warranty Dataload', new_dataload_manual_path %>
